/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAYER CSS RESET */

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lobster&family=Roboto+Serif&family=Rowdies:wght@300&display=swap');

body
{
    background-image: url(Pictures/BG.png);
}

.headcon
{
    background-color: #1c252e;
    width: 85%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
}

.menubar ul li
{
    overflow: hidden;
    background-color: transparent;
    display: inline-flex;
    list-style: none;
}

.menubar a
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
}

.menubar a:hover
{
    background-color: #fe5276;
    color: #ffffff;
    font-size: 17px;
    font-weight: bolder;
}

.menubar .pembagi
{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #ff5276;
}
.header
{
    text-align: center;
    width: 100%;
}

.header .gambarkoha
{
    margin: 50px auto 10px auto;
    border-radius: 50%;
    width: 150px;
    border: 2px solid white;
    display: inline-block;
}

.fpnama
{
    color: whitesmoke;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
}

.header .fpjob
{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.btn_resume
{
    display: block;
    border: 2px solid #ff5276;
    color: white;
    background-color: transparent;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}

.btn_resume:hover
{
    background-color: #ff5276;
    color: #ffffff;
    border-radius: 5px;
}

.midcon
{
    background-color: #1c252e;
    width: 85%;
    height: auto;
    margin: auto;
    color: white;
    display: flex;
    font-family: 'Akaya Telivigala', cursive;
}

.pemisah
{
    border-left: 3px white solid;
    height: auto;
    width: 0px;
    padding-left: 5px;
    margin: 75px 0px 20px 40px;
    border-radius: 5px 2px 2px 5px;
}

.midcon .sidebar-left
{
    width: 260px;
    margin: 50px 0px 10px 10px;
    text-align: left;
    background-color: transparent;
    display: inline-block;
}

h2
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto 25px auto;
}

.sidedecs p
{
    margin: 10px 0px 0px 10px;
}

.sidedecs .bgskillbar
{
    width: 80%;
    background-color: #fe5276;
    padding: 10px;
    margin: 5px 0px 5px 10px;
    border-radius: 5px;
    list-style: none;
}

#skillbar1
{
    width: 10%;
    background-color: white;
    padding: 10px;
    margin: -25px 0px 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

#skillbar2
{
    width: 30%;
    background-color: white;
    padding: 10px;
    margin: -25px 0px 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

#skillbar3
{
    width: 57%;
    background-color: white;
    padding: 10px;
    margin: -25px 0px 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

#skillbar4
{
    width: 70%;
    background-color: white;
    padding: 10px;
    margin: -25px 0px 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.sertifikasi
{
    margin-top: 50px;
}

.sertifikasi p
{
    margin: 2px 0px 15px 20px;
    text-align: left;
}

.sertifikasi a
{
    color: white;
    text-decoration: none;
}

.sertifikasi a:hover
{
    color: #ff5276;
    border-radius: 5px;
}

.midcon .sidebar-right 
{
    width: 725px;
    margin: 50px 0px 10px 50px;
    background-color: yell;
    display: inline-block;
    border: 10px;
    text-align: justify;
}

h3
{
    margin: 30px 0px 0px -20px;
    display: flex;
    font-size: 18px;
    font-weight: bold;
}

.konten
{
    background-color: transparent;
    width: 100%;
    display: flex;
    margin: 15px 0px 0px -20px;
}

.konten p
{
    margin-left: 20px;
    display: inline-block;
    background-color: transparent;
}

.sidebar-right .con-recprojects
{
    background-color: transparent;
    margin-top: 5px;
    width: 100%;
}

.con-recprojects .recprojects
{
    background-color: transparent;
    width: auto;
    height: auto;
    display: inline-block;
    margin-right: 27px;
    margin-top: 15px;
    text-align: center;
    gap: 25px;
}

.sidebar-right .recprojects label
{
    background-color: transparent;
    text-align: center;
}

.footer
{
    background-color: #1c252e;
    width: 85%;
    height: auto;
    margin: auto;
    padding: 15px 0px 15px 0px;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
}

.footer-image, .footer-text
{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}